/* h1 {
    color: blue;
}
p {
    color: teal;
}
button {
    color: orangered;
}

 body{
   
    background-color: aqua;
    }
    button
    
    {
        background-color: violet;
    }
body {
      background-color: #ffff00;
} */

*{
    color: pink;
}
h1 {
    color: blue;
}
#headingone{

    color: green;
}
#headingtwo{
    color: red;
}
.my class{
    color: blue
}
#H1{
    font-weight: normal;

}
#h2
{
    font-weight: bold;

}
#h3{
    font-weight: lighter;
}